<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>CADisableMinimumFrameDurationOnPhone</key>
		<true />
		<key>CFBundleDevelopmentRegion</key>
		<string>$(DEVELOPMENT_LANGUAGE)</string>
		<key>CFBundleExecutable</key>
		<string>$(EXECUTABLE_NAME)</string>
		<key>CFBundleIdentifier</key>
		<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
		<key>CFBundleInfoDictionaryVersion</key>
		<string>6.0</string>
		<key>CFBundleName</key>
		<string>ZMall</string>
		<key>CFBundlePackageType</key>
		<string>APPL</string>
		<!-- MinimumOSVersion -->
		<key>MinimumOSVersion</key>
		<string>15.0</string>
		<key>CFBundleShortVersionString</key>
		<string>$(MARKETING_VERSION)</string>
		<key>CFBundleSignature</key>
		<string>????</string>
		<!-- Add Telebirr Queried URL Scheme -->
		<key>LSApplicationQueriesSchemes</key>
		<array>
			<string>telebirrcustomerApp</string>
		</array>
		<!-- Close Telebirr Queried URL Scheme -->
		<key>CFBundleURLTypes</key>
		<array>
			<dict>
				<key>CFBundleTypeRole</key>
				<string>Editor</string>
				<key>CFBundleURLSchemes</key>
				<array>
					<string>com.googleusercontent.apps.362956281866-7eotv0dma4074a29aov6qluqiuvrvo8p</string>
				</array>
			</dict>
			<dict>
				<key>CFBundleTypeRole</key>
				<string>Editor</string>
				<key>CFBundleURLName</key>
				<string>applinks:zmall.page.link</string>
				<key>CFBundleURLSchemes</key>
				<array>
					<string>customscheme</string>
				</array>
			</dict>
			<dict>
				<key>CFBundleTypeRole</key>
				<string>Editor</string>
				<key>CFBundleURLSchemes</key>
				<array>
					<string>app-1-362956281866-ios-4653b7a0c64f4f10</string>
				</array>
			</dict>
			<!-- Add the new URL scheme for the payment SDK -->
			<dict>
				<key>CFBundleTypeRole</key>
				<string>Editor</string>
				<!-- <key>CFBundleURLName</key>
				<string>com.zmall.app</string> -->
				<key>CFBundleURLSchemes</key>
				<array>
					<string>zmallreturn</string>
				</array>
			</dict>
			<!-- Close the new URL scheme for the payment SDK -->
		</array>
		<key>CFBundleVersion</key>
		<string>$(CURRENT_PROJECT_VERSION)</string>
		<key>FIREBASE_ANALYTICS_COLLECTION_DEACTIVATED</key>
		<string>YES</string>
		<key>FIREBASE_ANALYTICS_COLLECTION_ENABLED</key>
		<string>NO</string>
		<key>FirebaseAppDelegateProxyEnabled</key>
		<true />
		<key>FirebaseScreenReportingEnabled</key>
		<false />
		<key>FlutterDeepLinkingEnabled</key>
		<true />
		<key>LSRequiresIPhoneOS</key>
		<true />
		<key>NSAppTransportSecurity</key>
		<dict>
			<key>NSAllowsArbitraryLoads</key>
			<true />
		</dict>
		<key>NSCameraUsageDescription</key>
		<string>ZMall needs camera access to scan QR codes</string>
		<key>NSLocationAlwaysAndWhenInUseUsageDescription</key>
		<string>Zmall needs access to location to get nearby restaurants when open and in the
			background.</string>
		<key>NSLocationAlwaysUsageDescription</key>
		<string>Zmall needs access to location to get nearby restaurants when in the background.</string>
		<key>NSLocationWhenInUseUsageDescription</key>
		<string>Zmall needs access to location to get nearby restaurants when open.</string>
		<key>NSPhotoLibraryUsageDescription</key>
		<string>Zmall needs access to photo library to upload pictures.</string>
		<key>UIBackgroundModes</key>
		<array>
			<string>fetch</string>
			<string>remote-notification</string>
		</array>
		<key>UILaunchStoryboardName</key>
		<string>LaunchScreen</string>
		<key>UIMainStoryboardFile</key>
		<string>Main</string>
		<key>UISupportedInterfaceOrientations</key>
		<array>
			<string>UIInterfaceOrientationPortrait</string>
		</array>
		<key>UISupportedInterfaceOrientations~ipad</key>
		<array>
			<string>UIInterfaceOrientationPortrait</string>
			<string>UIInterfaceOrientationPortraitUpsideDown</string>
			<string>UIInterfaceOrientationLandscapeLeft</string>
			<string>UIInterfaceOrientationLandscapeRight</string>
		</array>
		<key>UIViewControllerBasedStatusBarAppearance</key>
		<false />
		<key>io.flutter.embedded_views_preview</key>
		<true />
		<key>UIApplicationSupportsIndirectInputEvents</key>
		<true />
	</dict>
</plist>